<% content_for :lcontent do %>
  <%= render "shared/menu" %>
<% end %>

<% content_for :rcontent do %>
  <%= render :partial => "tags/tags", :locals => {:tags => @tags} %>
  <% if current_user.admin? %>
    <div class="edit-tags">
      <table>
        <% @tags.each do |tag| %>
          <tr>  
            <td id="value"><%= render tag %></td>
            <td id="edit">
              <%= form_for :tag, :url => tag_path(tag), :method => :put, :html => {:class => "wrapper"} do |f| %>
                <%= f.text_field :value, :class => "textbox" %>
                <%= f.submit "Update", :class => "button"%>
              <% end %>
            </td>
            <td id="delete">
              <%= form_tag tag_path(tag), :method => :delete, :class => "wrapper" do %>
                <%= submit_tag "Remove" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= render "tags/new" %>
  <% end %>
  <div class="clear-all"></div>
<% end %>
