<% content_for :menu do %>
  <%= render "shared/menu" %>
<% end %>

<% content_for :content do %>
  <% first = [] %>
  <% second = [] %>
  <% third = [] %>
  <% fourth = [] %>
  <% @pictures.each_slice 4 do |slice| %>
    <% first << slice[0] unless slice[0].nil? %>
    <% second << slice[1] unless slice[1].nil? %>
    <% third << slice[2] unless slice[2].nil? %>
    <% fourth << slice[3] unless slice[3].nil? %>
  <% end %>
  
  <div class="pictures">
    <% [first, second, third, fourth].each do |pictures| %>
      <div class="container">
        <% pictures.each do |picture| %>
          <%= link_to image_tag(picture.item.url(:medium), :class => "thumbnail"), picture_path(picture), :class => "wrapper" %>
        <% end %>
      </div>
    <% end %>
    <div class="clear-all"></div>
  </div>
  
  <div class="new-picture">
    <%= form_for :picture, :url => pictures_path, :html => { :multipart => true } do |f| %>
      <%= f.text_area :description, :class => "textbox content", :placeholder => "What is this picture about?" %>
      <%= f.submit "Upload Picture", :class => "button", :id => "new" %>
      <%= f.file_field :item %>
    <% end %>
  </div>
<% end %>
