<div class="wrapper post">
  <%= link_to image_tag("question.png", :class => "thumbnail deactivated"), user_path(post.user) %>
  <div class="container">
    <div class="owner toolbar">
      <h3><%= link_to post.user.name, user_path(post.user) %></h3>
      <% if post.user == current_user || current_user.admin? %>
        <%= form_tag post_path(post), :method => :delete, :class => "tool" do %>
          <%= submit_tag "", :type => :image, :src => asset_path("delete.png"), :class => "control", :id => "delete", :title => "Delete This Post" %>
        <% end %>
      <% else %>
        <%= image_tag "delete.png", :class => "tool deactivated", :id => "delete" %>
      <% end %>
      <div class="clear-all"></div>
    </div>
    <div class="content">
      <% if shorten %>
        <%= simple_format h(post.content[0..199] + '...') + link_to("more", post_path(post)) %>
      <% else %>
        <%= simple_format h(post.content) %>
      <% end %>
    </div>
    <%= render :partial => "tags/tags", :locals => {:tags => post.tags} %>
  </div>
  <div class="clear-all"></div>
</div>
