<!DOCTYPE html>
<html>
  <head>
    <title> Welcome to NKnet</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application", "menu", "post", "comment", "picture", "user", "tag", "tagging" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="wrapper">
    <div id="top-background">
      <div class="wrapper center holder">
        <div id="logo">Logo</div>
        <div id="navigation">
          <%= form_tag posts_path, :method => :get, :id => "search-form" do %>
            <%= text_field_tag :q, nil, :class => "textbox control", :id => "search-box", :placeholder => "Search Posts" %>
            <%= submit_tag "", :type => :image, :src => asset_path("search.png"), :class => "control", :id => "search-submit" %>
          <% end %>
          <%= form_tag user_sessions_path, :method => :delete, :id => "logout-form" do %>
            <%= submit_tag "", :type => :image, :src => asset_path("logout.png"), :class => "control", :id => "logout", :title => "Log Out" %>
          <% end %> 
          <%= link_to image_tag("user.png", :class => "control", :id => "profile", :title => "Back to Profile"), user_path(current_user) %>
          <%= link_to image_tag("home.png", :class => "control", :id => "home", :title => "Back to Home"), root_path %>
        </div>
        <div class="clear-all"></div>
      </div>
    </div>
    <div class="wrapper center holder">
      <div id="left-content">
        <%= yield :lcontent %>
      </div>
      <div id="right-content">
        <%= yield :rcontent %>
      </div>
      <div class="clear-all"></div>
    </div>
  </body>
</html>
